---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import Project from "@components/Project.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Bryce Eppler</h1>

      <p>
        My name is Bryce Eppler, a software developer based in Victoria, Canada,
        and currently studying Computer Science at the University of Victoria. I
        have a passion for building innovative web applications that solve
        real-world problems. My technical expertise includes a diverse set of
        frontend technologies and frameworks,{" "}
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="/"
        >
          DevOps
        </LinkButton>
        , and{" "}
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="/"
        >
          cloud computing
        </LinkButton>
        .
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />
    <section id="projects">
      <h2>Projects</h2>
      <Project
        title="snapcaster.ca"
        description="snapcaster simplifies searching for Magic: The Gathering singles on Canadian websites. The user-friendly interface displays price history and consolidates search results. Multi-search enables searching for multiple cards at once."
        href="https://snapcaster.ca"
        image="/assets/snapcaster-logo.svg"
        technologies={[
          {
            name: "NextJS",
            color: `rgb(249, 248, 113, 0.3)`,
          },
          {
            name: "TailwindCSS",
            color: `rgb(255, 205, 95, 0.3)`,
          },
          {
            name: "Python",
            color: `rgb(255, 158, 118, 0.3)`,
          },
          {
            name: "PostgreSQL",
            color: `rgb(255, 118, 164, 0.3)`,
          },
          {
            name: "MongoDB",
            color: `rgb(255, 106, 215, 0.3)`,
          },
          {
            name: "Redis",
            color: `rgb(163, 120, 255, 0.3)`,
          },
          {
            name: "FastAPI",
            color: "rgb(120, 200, 180, 0.3)",
          },
        ]}
      />
      <Project
        title="Ergonomyx"
        description="Since May 2022, I have been working at Ergonomyx as a full stack developer on a B2B workplace wellness platform."
        href="https://ergonomyx.com"
        image="/assets/ergo\ logo.svg"
        technologies={[
          {
            name: "React",
            color: `rgb(255, 106, 215, 0.3)`,
          },
          {
            name: "Django",
            color: "rgb(120, 200, 180, 0.3)",
          },
          {
            name: "AWS",
            color: `rgb(249, 248, 113, 0.3)`,
          },
          {
            name: "PostgreSQL",
            color: `rgb(255, 205, 95, 0.3)`,
          },
          {
            name: "Docker",
            color: `rgb(255, 158, 118, 0.3)`,
          },
          {
            name: "IoT",
            color: `rgb(255, 118, 164, 0.3)`,
          },
        ]}
      />
    </section>
    <Hr />
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #projects,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #projects h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
